NODE_ENV=production
PORT=3000
BASE_URL=https://your-domain.com
SESSION_SECRET=chuoi_bao_mat_session_random_rat_dai_123456

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=4

HANET_CLIENT_ID=your_hanet_client_id
HANET_CLIENT_SECRET=your_hanet_client_secret
HANET_ACCESS_TOKEN=your_hanet_access_token_if_available
HANET_PLACE_ID=4628
HANET_API_BASE=https://partner.hanet.ai
HANET_OAUTH_BASE=https://oauth.hanet.com

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token
